<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cadastros.Properties.Settings.BDConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=maximocontrol;allowuservariables=False"
            providerName="MySql.Data.MySqlClient" />
        <add name="Cadastros.Properties.Settings.BDMax" connectionString="server=localhost;user id=root;password=Ale198600!;persistsecurityinfo=True;database=maximocontrol;allowuservariables=False"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>